{{!
    @template assignfeedback_editpdfplus/admin
}}

<div class="assignfeedback_editpdfplus_widget_admin">                                                                                                             
    <h5>{{# str }} adminsubtitle, assignfeedback_editpdfplus {{/ str }}</h5> 

    <div class="panel panel-default">
        <div class="panel-heading">
            {{# str }} admincurrenttoolbar, assignfeedback_editpdfplus {{/ str }}
        </div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-2'>
                    <h6>
                        Axes
                        <button type="button" class="btn btn-default" id="assignfeedback_editpdfplus_widget_admin_button_addaxis">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </h6>
                </div>
                <div class='col-sm-10' id='assignfeedback_editpdfplus_widget_admin_toolheader'>
                    <h6>Outils 
                        <button type="button" class="btn btn-default" id="assignfeedback_editpdfplus_widget_admin_button_addtool">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </h6>
                </div>
            </div>
            <div class='row' id='assignfeedback_editpdfplus_widget_admin_workspace'>
                <div class='col-sm-2'>
                    <select id='editpdlplus_axes' class='form-control'>
                        {{# axis }}
                        <option value="{{id}}" data-delete="{{children}}">{{label}}</option>
                        {{/ axis }}
                    </select>
                    <div class="panel panel-default" id="axistool">
                        <div class="panel-body" style="text-align: center;">
                            <button type="button" class="btn btn-default" id="assignfeedback_editpdfplus_widget_admin_button_editaxis">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-default" id="assignfeedback_editpdfplus_widget_admin_button_delaxis">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div id="assignfeedback_editpdfplus_widget_admin_div_addaxis">
                        <div class="panel-body"></div>
                    </div>
                    <div id="assignfeedback_editpdfplus_widget_admin_div_editaxis">
                        <div class="panel-body"></div>
                    </div>
                    <div id="assignfeedback_editpdfplus_widget_admin_div_delaxis">
                        <div class="panel-body"></div>
                    </div>
                </div>
                <div class='col-sm-10'>
                    {{# toolbars }}
                    <div id="editpdlplus_toolbar_{{axis.id}}" class="btn-group toolbar" style="display: none;">
                        {{# tools }}
                        <button class="btn {{button}} editpdlplus_tool" id="editpdlplus_tool_{{id}}" value="{{id}}" style="{{style}}" data-enable="{{enabled}}">{{label}}</button>
                        {{/ tools }}
                    </div>
                    {{/ toolbars }}

                    <div id="editpdlplus_tool_item" style="margin-top: 10px;"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{{# js }}
require(['assignfeedback_editpdfplus/admin_panel'], function(AdminPanel) {
var adminpanel = new AdminPanel({{context.id}});
});
{{/ js }}