{{!
    @template assignfeedback_editpdfplus/tool_form
}}

<div class="alert" id="message_edit_tool">
    
</div>

<div class='row' style="margin-bottom: 10px;">
        {{^tool.id}}<h4>Ajout d'un nouvel outil</h4>{{/tool.id}}
    <div class='col-sm-1'>
        <div id="editpdlplus_tool_label">{{#tool.id}}{{tool.label}}{{/tool.id}}</div>
    </div>
    <div class='col-sm-offset-2 col-sm-5'>
        Action{{#tool.id}}s{{/tool.id}} :
        <button type="button" class="btn btn-default" id="toolFormSubmit"><i class="fa fa-{{#tool.id}}pencil{{/tool.id}}{{^tool.id}}save{{/tool.id}}" aria-hidden="true"></i></button>
        {{#tool.id}}
        <button type="button" class="btn btn-default"><i class="fa fa-clone" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-remove" aria-hidden="true"></i></button>
        {{/tool.id}}
    </div>
</div>

<div class='row'>
    <div class='col-sm-6'>
        <form id="{{formid}}" method="post" action="{{actionurl}}" class="form-horizontal">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;<a data-toggle="collapse" href="#collapse1">Type d'outil</a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body" style="margin-bottom: 20px;">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="typetool">Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="typetool" name="typetool">
                                    {{# tools }}
                                    <option value='{{id}}'>{{label}}</option>
                                    {{/ tools }}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;<a data-toggle="collapse" href="#collapse2">Affichage barre d'outil</a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body" style="margin-bottom: 50px;">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="button">Bouton</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="button" value="{{tool.label}}" name="button" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="order">Ordre</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="order" value="{{tool.order_tool}}" name="order" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;&nbsp;<a data-toggle="collapse" href="#collapse3">Cartouche</a>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body" style="margin-bottom: 50px;">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="libelle">Libellé</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="libelle" value="{{tool.cartridge}}" name="libelle" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="cartridgecolor">Couleur</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cartridgecolor" placeholder="{{^tool.cartridge_color}}-{{/tool.cartridge_color}}"
                                       value="{{#tool.cartridge_color}}{{tool.cartridge_color}}{{/tool.cartridge_color}}" name="catridgecolor" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;<a data-toggle="collapse" href="#collapse4">Annotation</a>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body" style="margin-bottom: 80px;">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="color">Couleur</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="color" placeholder="{{^tool.colors}}-{{/tool.colors}}"
                                       value="{{#tool.colors}}{{tool.colors}}{{/tool.colors}}" name="color" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="texts">Texte prédéfinis</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="texts" value="{{tool.texts}}" name="texts" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="reply">Question/réponse</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" id="reply" {{#tool.reply}}checked {{/tool.reply}}name="reply" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style='display:none;'>
                <input type="hidden" name="toolid" value="{{tool.id}}" />
                <input type="hidden" name="axisid" value="{{tool.axis}}" />
                <input type="hidden" name="courseid" value="{{courseid}}" />
                <input type="hidden" name="sesskey" value="{{sesskey}}" />
            </div>

        </form>
    </div>
    <div class='col-sm-6'>
    </div>
</div>

{{# js }}
require(['jquery','core/ajax','core/notification'], function($,ajax,notification) {

    {{#tool.id}}$("#typetool").val({{tool.type}});{{/tool.id}}

});
{{/ js }}